body {
  background-image: url('./../images/moon.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kaushan Script', cursive;
}

.player, .small-toggle-btn, .track-number {
  display: none;
}
.playlist {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}
.play-list-row {
  display: flex;
  justify-content: flex-end;
}
.playlist-track {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.page-title  {
  padding: 0 20px;
}
.page-title {
  text-align: right;
  color: #fff;
  text-align: right;
}
h1 {
  margin: 0;
}

@media only screen and (max-width: 425px) {
  .moon {
    display: inline-block !important;
  }
}